# --------------------- Add file paths below ---------------------------------
.gclient_entries
src/build/.cache
src/third_party/cmake
src/third_party/log4cplus
# ------------------- Add file type masks below ------------------------------
# VIM swap files
*.swp

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
